{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Wishlist</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<h1 id="site-header">Where do you want to go?</h1>


{% block content %}
{% endblock %}

<hr>

<div>
    <p>A travel wish list site built with Django</p>

    <a href="{% url 'place_list' %}">Your wishlist</a>
    <a href="{% url 'places_visited' %}">Places you've visited</a>
</div>


</body>
</html>